body
{
    background-image: url(background.png);
}
.col-md-1
{
    background-color: white;
    height: 100vh;
}
.list
{
     list-style-type: none;
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    padding: 15px 0%;
    background-color: #3B90CF;
    height:58px;
    
}
.list1
{
    height: 58px;
     background-color: #3B90CF;
}
.col-md-3 {
        padding: 0px 0px;
    }

.col-md-9 {
        padding: 0px 0px;
        border-left: 1px solid rgb(7, 66, 110);
        height: 100vh;
    }

.col-md-10 {
        padding: 0px 0px;
    }

.circle {
    background:white;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: relative;
    top: 5%;
    left: 30%;
}
.font
{
    font-family: Helvetica;
    font-size: 20px;
    height: 58px;
    color: white;
    padding: 15px 0px;
}
.box
{
    border-radius: 20px;
	height: 70%;
    width: 80%;
	background-color: #FFFFFF;
    position: absolute;
    left: 10%;
    opacity: 0.4;
}
.form-inline
{
    position: relative;
    left: 5%;
}
.form-group
{
   
    margin-right: 5%;
}
.form-control
{
     border-radius: 10px;
}
 .btn
    {
        border-radius: 10px;
        color:#5ABAE1;
        border:0px;
        font-size:20px;
        background-color: white;
    }
table
{
    
    color: white;
    margin-top: 2%;
    margin-left: 5%;
}
thead
{
    background-color: #3B90CF;
    
}
th
{
   text-align: center;
   color: #2699FB;
    
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #CCE5FA; 
 }
tr {display: block; }
th, td { width: 300px; }
tbody { display: block; height: 65vh; overflow: auto;}
a {
    text-decoration: none !important;
    
}
a:hover
  {
    text-decoration:none; !important;
    cursor:pointer;
   }
